/* SCROLL BARS */
::-webkit-scrollbar {
    width: calc($marge/2);
}

::-webkit-scrollbar-track {
    background: lighten($grey1, 10%);
    border-radius: $corner;
}

::-webkit-scrollbar-thumb {
    background: $grey1;
    border-radius: $corner;
}

::-webkit-scrollbar-thumb:hover {
    background: $accent;
}

/* TEXTS */
h1 {
    @include h1;
}

h2 {
    @include h2;
}

h3 {
    @include h3;
}

.help {
    opacity: .75;
}

a {
    text-decoration: none;
    color: $black;
}

.container {
    max-width: 1250px;
    margin: auto;
}

.right-part {
    width: 450px;
}

.card {
    @include card;
}

/* FORMS */
.form-group {
    // @include dev;
    margin-bottom: $marge*3;
}

.button-group {
    display: flex;
    justify-content: flex-end;

    button {
        margin-left: $marge;
    }
}

label {
    display: block;
    margin-bottom: $marge;
    @include h3;
}

[type="text"],
select,
textarea {
    display: block;
    width: 100%;
    font-family: $fontFamily;
    font-size: 1rem;
    color: $black;
    padding: $marge;
    background-color: $grey1;
    border: 1px solid $grey1;
    border-radius: $corner;
    @include trans;

    &:focus {
        outline: none;
        border-color: $accent;
        background-color: $white;
        @include boxShadow;
    }
}

/* BUTTONS */
button,
a.button {
    position: relative;
    overflow: hidden;
    font-family: $fontFamily;
    font-size: 1rem;
    font-weight: 600;
    color: $black;
    border: 1px solid $grey1;
    border-radius: $corner;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: $marge $marge*2;
    background-color: $grey1;
    cursor: pointer;
    @include trans;

    &:hover {
        background-color: darken($grey1, 10%);
    }

    &.primary {
        background-color: $primary;
        border-color: $primary;
        color: $white;

        &:hover {
            background-color: darken($primary, 10%);
        }
    }

    &.danger {
        background-color: $danger;
        border-color: $danger;
        color: $white;

        &:hover {
            background-color: darken($danger, 10%);
        }
    }

    &.success {
        background-color: $success;
        border-color: $success;
        color: $white;

        &:hover {
            background-color: darken($success, 10%);
        }
    }

    svg {
        font-size: 1.25rem;
    }

    &.icon-left {
        svg {
            margin-right: $marge;
        }
    }

    &.icon-right {
        svg {
            margin-left: $marge;
        }
    }
}

/* MODALS */
#modal-layer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($black, 90%);
}

#modal {
    width: 600px;
    margin: $marge*5 auto;
}

#modal-header {
    background-color: $grey1;
    padding: $marge*2;
    border-top-left-radius: $corner;
    border-top-right-radius: $corner;
}

#modal-body {
    background-color: $white;
    padding: $marge*2;
    border-bottom-left-radius: $corner;
    border-bottom-right-radius: $corner;
}