@import "reset.scss";
@import "vars.scss";
@import "framework.scss";

*,
*:before,
*:after {
	box-sizing: border-box;
}

html {
	font-size: 14px
}

body {
	font-family: $fontFamily;
	color: $black;
	background-color: $white;
}

html,
body,
#root,
#app,
.page {
	height: 100%;
	overflow: hidden;
}

.page {
	.container {
		// @include dev;
		height: calc(100% - 80px);
	}
}

/* HEADER */
#app-header {
	background-color: $grey1;
	height: 80px;

	.container {
		height: 100%;
		display: flex;
		align-items: flex-end;
		padding-bottom: $marge*2;
	}

}

#page-name {
	color: $accent;
}

#app-name {
	@include h2;
}

#menus {
	margin-left: auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#app-menu {
	width: 100%;
	display: flex;
	justify-content: flex-end;
}

.menu-item {
	margin-left: $marge*2;
	@include h3;

	a {
		opacity: .5;
		@include trans;

		&.active,
		&:hover {
			opacity: 1;
		}

		&.active {
			color: $accent;
		}
	}
}

#external-links {
	margin-left: $marge*5;

	a {
		margin-left: $marge*2;
		opacity: .5;
		@include trans;

		&:hover {
			opacity: 1;
		}
	}
}

/* TOOLBAR */
#toolbar {
	height: 70px;
	background-color: $grey2;

	.container {
		height: 100%;
		display: flex;
		align-items: center;
	}

	.form-group {
		height: 100%;
		margin-bottom: 0;
		margin-right: $marge*2;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	[type="text"] {
		background-color: $white;
		border-color: $accent;
	}
}

/* LOADER */
#loader {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding-top: $marge*2;
}


#animated-loader {
	display: flex;
	justify-content: center;
	margin-bottom: $marge;

	.loader-item:nth-child(2) {
		animation-delay: 200ms;
	}

	.loader-item:nth-child(3) {
		animation-delay: 400ms;
	}
}

.loader-item {
	height: 20px;
	width: 20px;
	border-radius: $corner;
	margin: 0 2px;
	background-color: $grey1;
	animation: loader 600ms infinite ease-in-out alternate;
}

@keyframes loader {
	from {
		background-color: $accent;
	}

	to {
		background-color: $grey1;
	}
}

#loader-text {
	text-align: center;
}

/* TOASTS */
#toaster {
	position: fixed;
	z-index: 1000;
	// @include dev;
	height: calc(100% - 95px);
	width: 300px;
	top: 95px;
	right: 0;
	padding: $marge*2 $marge*2 $marge*2 0;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.toast {
	margin-top: $marge*2;
	background-color: $grey1;
	border: 1px solid $primary;
	border-left: 10px solid $primary;
	color: $black;
	padding: $marge*2;
	animation: fadetoast 1s linear 10s forwards;
	@include trans;

	&.success {
		border: 1px solid $success;
		border-left: 10px solid $success;
	}

	&.danger {
		border: 1px solid $danger;
		border-left: 10px solid $danger;
	}
}

@keyframes fadetoast {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}

/* REMIND.ME */
#remind-me-container {
	// @include dev;
	padding-top: $marge*5;
	display: flex;
}

#reminders-list {
	// @include dev;
	flex: 1;
	height: 100%;
	overflow-y: auto;
	padding-right: $marge*2;
	margin-right: $marge*10;
	position: relative;
}

.events-list {
	border-top: 1px solid $accent;
	padding-top: $marge*2;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.event {
	@include trans;

	svg {
		@include trans;
	}

	&.done {
		border-color: $grey1;

		.event-name {
			opacity: .75;
			text-decoration: line-through;
		}
	}
}

.date {
	position: absolute;
	top: $marge*2;
	left: 0;

	&::first-letter {
		text-transform: uppercase;
	}
}

.event {
	margin-bottom: $marge*2;
	position: relative;
	width: 50%;
}

.event-header {
	padding: $marge*2;
	padding-bottom: 0;
	display: flex;
	justify-content: space-between;
}

.event-name {
	@include h3;
	display: flex;
	align-items: center;
	cursor: pointer;

	&:first-letter {
		text-transform: uppercase;
	}

	svg {
		position: relative;
		top: -1px;
		margin-right: $marge;
	}
}

.event-time {
	opacity: .75;
}

.event-calendar {
	padding: $marge $marge*2 $marge*2 $marge*2;
	opacity: .75;
}

.event-notes {
	padding: $marge*2;
	padding-top: 0;
}

.event-actions {
	position: absolute;
	bottom: $marge*2;
	right: $marge*2;
	display: flex;
}

.event-edit,
.event-delete {
	opacity: .75;
	cursor: pointer;
	@include trans;

	&:hover {
		opacity: 1;
		transform: scale(1.1);
	}
}

.event-delete {
	margin-left: $marge;
}

#add-reminder {
	// @include dev;
	padding: $marge*2 0 0 0;
	opacity: 1;
	@include trans;

	&.is-focus {
		opacity: 1;
	}

}

#add-reminder-title {
	margin-bottom: $marge*3;
}

.react-datepicker {
	font-family: $fontFamily !important;
	color: $black !important;
}

.react-datepicker-wrapper,
.react-datepicker__input-container {
	width: 100%;
}

.react-datepicker__header {
	background-color: $grey1;
}

.react-datepicker__day:hover {
	background-color: lighten($grey1, 15%);
}

.react-datepicker__day--keyboard-selected {
	background-color: $grey1;
}