$black : #494949;
$white: #ECECEC;
$grey1: #DADADA;
$accent: #DE814D;
$primary: #5F7CC6;
$success: #29AE47;
$danger: #D05C54;

$corner: 2px;
$marge: 8px;

$fontFamily: 'Nunito', sans-serif;

@mixin h1 {
    font-size: 2rem;
    font-weight: 900;
}

@mixin h2 {
    font-size: 1.5rem;
    font-weight: 700;
}

@mixin h3 {
    font-size: 1.25rem;
    font-weight: 600;
}

@mixin dev($color: red, $width: 1px) {
    border: $width solid $color;
}

@mixin boxShadow {
    box-shadow: 1px 1px 1px rgba($black, .25);
}

@mixin card($bg: $grey1) {
    @include boxShadow();
    background-color: $bg;
    border-radius: $corner;
    border: 1px solid $accent;
}

@mixin trans($time: .2s) {
    transition: all $time linear;
}